<!-- Social Icons -->
<div id="social">
    <ul class="icons">
       
        {%- if site.facebook.url -%}
        <li><a href="{{ site.facebook.url }}" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
        {%- endif -%}
        
        {%- if site.gmail.url -%}
        <li><a href="{{ site.gmail.url }}" class="icon brands fa-gmail-m" target="_blank"><span class="label">Gmail</span></a></li>
        {%- endif -%}
        
        {%- if site.500px.url -%}
        <li><a href="{{ site.500px.url }}" class="icon brands fa-500px" target="_blank"><span class="label">500px</span></a></li>
        {%- endif -%}
        
        {%- if site.github.url -%}
        <li><a href="{{ site.github.url }}" class="icon brands fa-github" target="_blank"><span class="label">GitHub</span></a></li>
        {%- endif -%}
       
    </ul>
</div>
